body{
    text-align: center;
}
.contenedor{
    display:flex;
    margin: auto;
}
.contenido{
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 30%;
    height: 20vh;
    background-color: rgb(222, 222, 222);
}
.palabras{
    margin: auto;
    display: flex;
    width: 70%;
}
.palabra{
    margin: 2% auto 2% auto;
    border: 1px solid black;
    padding: 1%;
    transition: ease 0.1s;
    background-color: rgb(240, 240, 240);
}
.palabra:hover{
    transform: scale(1.1);
}
button{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
    transition: ease 0.1s;
}
button:hover{
    transform: scale(1.1);
}
.dragging{
    opacity: 0.5;
}