body{
    background-color: rgba(70, 70, 70, 0.307);
    color: white;
    margin: auto;
    text-align: center;
    color: black;
}

.containerProductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.producto{
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid black;
    background-color: rgba(0, 255, 255, 0.416);
    padding: 20px;
    text-align: center;
}
img{
    border: 1px solid black;
}
.carrito{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid black;
    background-color: rgba(0, 255, 255, 0.416);
    padding: 20px;
}